body {
    height: 600px;
    background: rgb(246,246,254);
    background: linear-gradient(168deg, rgba(246,246,254,0.6054621677772671) 31%, rgba(246,247,255,0.706302503911721) 63%), url(https://image.freepik.com/vector-gratis/apertura-caja-regalo-dia-san-valentin_1262-7392.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.root {
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
}

.txt-primary {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    color: #3b3b3b;
    margin-top: 10rem;
}

.btn-primary {
    display: block;
    font-size: 1em;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: #4E61FF;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 0 auto;
}

.nav {
    padding: 1rem 0;
}

.brand-name {
    font-size: 1em;
    font-weight: 700;
    color: #3b3b3b;
}